@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo 
    width: 132px
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
    &__menu-button
      display: none
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-menu
      display: none
  .menu
    &-button
      padding: 0
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: content
  .hotel
    padding-top: 0
    &-name
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 5px
      &__name
        flex-basis: 100%
        margin-top: 10px
      &__text
        width: 100%
@media (max-width: 576px) and (min-width: 320px)
  .logo
    width: 99px
@media (max-width: 320px)
  .logo
    width: 99px
