@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
    
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo 
    width: 132px
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
    &__menu-button
      display: none
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 95px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-menu
      display: none
  .menu
    &-button
      padding: 0
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    padding-bottom: 40px
    &-name
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 5px
      &__name
        flex-basis: 100%
        margin-top: 10px
      &__text
        width: 100%
  
  .hotel
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start

    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        left: 50%
        transform: translate(-50%, 0)
        &--prev
          margin-left: -95px
        &--next
          margin-left: 95px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 87px
      
@media (max-width: 576px) and (min-width: 320px)
  .hotel
    &-info
      &__description
        max-width: 286px
  .logo
    width: 99px
  .hotel
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      margin-bottom: 87px
@media (max-width: 320px)
  .logo
    width: 99px
  .hotel
    &-slider
      height: 179px
  .subscribe
    width: 100%
