*
  box-sizing: border-box
body 
  font-family: 'Muli', sans-serif
  color: $text-color
  background-color: $secondary
body.lock
  overflow: hidden
.container
  max-width: 1110px
  margin: auto
button, input
  outline: none
button 
  cursor: pointer
  border: none
img 
  max-width: 100%
a
  text-decoration: none
.input
  background-color: #fff
  border-radius: 4px
  border: none
  padding: 0 23px 
  height: 50px
.message
  background-color: #fff
  border-radius: 4px
  padding: 18px 23px
  border: none
  height: 123px
  resize: none
.invalid
  color: $primary
  font-size: 12px
.modal
  &__input.invalid
    border: 2px solid $primary
    color: $primary
    display: flex
.footer
  &__input
    &-group
      position: relative
      label
        position: absolute
        z-index: 119
        top: 53px
        left: 20px
        bottom: 0
.map
  &__image
    &_script
      display: none
  &__google
    display: none
    &_googleScript
      display: block
