*
  box-sizing: border-box
body 
  font-family: 'Muli', sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1110px
  margin: auto
button, input
  outline: none
button 
  cursor: pointer
  border: none
img 
  max-width: 100%
a
  text-decoration: none
